@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	/* font-size: 1rem; */
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
}

div.main-content {
	margin-top: 4rem;
	font-size: 1.2rem;
}

.blog-list a {
	text-decoration: none;
}

.post-meta .post-date time {
	color: #52a0d7;
}

div.main-content h1 {
	color: #c3e6ff;
	margin-bottom: 1rem;
}

div.main-content h2 {
	color: #ffd97f;
	margin-bottom: 1rem;
}

div.main-content h3 {
	color: #f0ff7f;
	margin-bottom: 1rem;
}

div.main-content pre {
	font-size: 1.1rem;
	background-color: #31363b;
	border: 1px solid #3f4851;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

div.main-content picture img {
	border: 1px solid #454d55;
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	box-shadow: 5px 5px 10px 0px #2b3137;
}

div.main-content div.prev-next {
	background-color: #293037;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

div.main-content table {
	border: 1px solid #363c43;
}

div.main-content .list-group-item:hover {
	background-color: #2b3137;
}

/* div.main-content blockquote {
	background-color: #262a2f;
	border-radius: 0.5rem;
	padding: .75rem;
	border: 1px solid #94ff0045;
}
div.main-content blockquote p:last-child {
	margin-bottom: 0;
} */