---
title: Hosting Web API and Static Content with OWIN
date: 2015-06-18
tags: [.net]
logo: dotnet.png
---

<h2 id="setup">Setting up the project</h2>

<p>To begin you will need to create a new console application in Visual Studio.</p>

<img src="./images/2015-06-18-01.png" alt="">

<p>Once your application has been created open the Package Manager console and install the following packages.</p>

{% highlight "powershell" %}
Install-Package Microsoft.AspNet.WebApi.OwinSelfHost
Install-Package Microsoft.Owin.StaticFiles
{% endhighlight %}

<p>This will install all the dependencies needed to build our application.</p>

<img src="./images/2015-06-18-02.png" alt="">

<h2 id="startup-class">Startup class</h2>

<p>Next, we will need to create a special class used by OWIN to bootstrap your web application called Startup with the following contents:</p>

{% highlight "cs" %}
class Startup
{
    public void Configuration(IAppBuilder app)
    {
        HttpConfiguration config = new HttpConfiguration();
        config.Routes.MapHttpRoute(
            name: "DefaultApi",
            routeTemplate: "api/{controller}/{id}",
            defaults: new { id = RouteParameter.Optional }
        );

        app.UseWebApi(config);

        var physicalFileSystem = new PhysicalFileSystem(@"./www");
        var options = new FileServerOptions
        {
            EnableDefaultFiles = true,
            FileSystem = physicalFileSystem
        };
        options.StaticFileOptions.FileSystem = physicalFileSystem;
        options.StaticFileOptions.ServeUnknownFileTypes = true;
        options.DefaultFilesOptions.DefaultFileNames = new[]
        {
            "index.html"
        };

        app.UseFileServer(options);
    }
}
{% endhighlight %}

<p>The lines in the class above do the following key things:</p>

<ul>
	<li>Creates and configures Web API through the HttpConfiguration class and sets up the default routing (<code>api/{controller}/{id}</code>).</li>
	<li>Creates and configures a file server (for static content) through PhysicalFileSystem - and sets the root directory to <code>./www</code>.</li>
</ul>

<p>
	Something to keep in mind here when setting the path for the <code>PhysicalFileSystem</code> class is that you will need to set the always copy flag 
	to true on all items found under the www directory. This sucks, a better method I find is to add a new appSetting key to your <code>web.config</code> 
	file and point that to a source folder.
</p>

{% highlight "xml" %}
<appSettings>
  <add key="www.rootDir" value="C:\path\to\www" />
</appSettings>
{% endhighlight %}

<p>With this setting you just need to modify the following line:</p>

{% highlight "cs" %}
var physicalFileSystem = new PhysicalFileSystem(@"./www");
{% endhighlight %}

<p>Changing it to this:</p>

{% highlight "cs" %}
var contentDir = ConfigurationManager.AppSettings["www.rootDir"];
var physicalFileSystem = new PhysicalFileSystem(contentDir);
{% endhighlight %}

<p>P.S. don't forget to add a reference to System.Configuration.</p>

<h2 id="static-content">Adding static content</h2>

<p>
	Let's presume like me you have a www folder where you would like to serve content from and this folder is part of your Visual Studio solution with an 
	appSetting created pointing the PhysicalFileSystem to the right path:
</p>

<img src="./images/2015-06-18-03.png" alt="">

<p>
	When it comes to adding content, you can now treat the <code>www</code> folder as if it were the root folder for a static web server and add files to it at 
	will (keeping references to other files relative to your root directory).
</p>

<p>Let's create our index.html file with the following contents in the root of <code>www</code>:</p>

{% highlight "html" %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello World</title>
</head>
<body>
    Hello World
    http://scripts/hello.js
</body>
</html>
{% endhighlight %}

<p>Next, we will create our <code>scripts\hello.js</code> file with the following contents:</p>

{% highlight "js" %}
alert('hello world');
{% endhighlight %}

<p>Hopefully by now you can see that this is pretty simple.</p>

<h2 id="adding-controller">Adding a Web API Controller</h2>

<p>Now let’s get a bit more advanced and add in a simple Web API controller to the project that we can call to get some default values:</p>

<p>Create a new project file called <code>Controllers\API\ValuesController.cs</code> with the following contents:</p>

{% highlight "cs" %}
using System.Collections.Generic;
using System.Web.Http;

namespace WebSelfHosted.Controllers.API
{
    public class ValuesController : ApiController
    {
        // GET api/values 
        public IEnumerable<string> Get()
        {
            return new[] { "value1", "value2" };
        }

        // GET api/values/5 
        public string Get(int id)
        {
            return "value";
        }
    } 
}
{% endhighlight %}

<p>
	This controller will be available at <a href="http://localhost:12345/API/Values" target="_blank">http://localhost:12345/API/Values</a> when we run our project.
</p>

<h2 id="wiring-it-up">Wiring it all up</h2>

<p>
	The last thing we need to do is create a new instance of our web application using the <code>WebApp.Start&lt;&gt;()</code> method in our <code>program.cs</code>
	file to tie everything together and run our application, add the following code to <code>program.cs</code>:
</p>

{% highlight "cs" %}
using System;
using System.Diagnostics;
using Microsoft.Owin.Hosting;

namespace WebSelfHosted
{
    class Program
    {
        static void Main(string[] args)
        {
            string baseUrl = "http://localhost:12345/";
            WebApp.Start<Startup>(new StartOptions(baseUrl)
            {
                ServerFactory = "Microsoft.Owin.Host.HttpListener"
            });

            // Launch default browser
            Process.Start(baseUrl);

            // Kick off other program logic
            // ...

            // In my case wait for ENTER to close app
            Console.ReadLine();
        }
    }
}
{% endhighlight %}

<p>That's all there is to it (honestly). Save and run your project using F5 to see it all in action:</p>

<img src="./images/2015-06-18-04.png" alt="">

<p>Web API up and running serving our <code>ValuesController.cs</code> file.</p>

<h2 id="going-forward">Going forward</h2>

<p>
	I would suggest either making use of <strong>NuGet</strong> or <strong>Bower</strong> to get and install client side packages 
	(both are capable package managers). Using such projects allows you to easily keep your client packages up to date and helps 
	to modularize your project and removes the need to ship support libraries with your source code.
</p>

<p>
	I would suggest making use of some MVVM framework (like <a href="https://angularjs.org/" target="_blank">Angular.js</a>, 
	<a href="https://www.meteor.com/" target="_blank">Meteor</a>, etc.) to build up the client-side interface as adding MVC 
	to this would be too much overkill.
</p>

<p>Let me know what you think in the comments section below.</p>
