---
title: "Legacy Blog Posts (2011)"
date: 2022-07-18
tags: [blogging]
logo: blog.png
---

<p>This is a collection of all my old blog posts from 2011 with links to the exported <code>.pdf</code> versions of each post - most (if not all of them) are probably out of date by now, howerver I found it interesting to look back at some of my older entires.</p>
<h2 id="march-2011">March 2011</h2>
<ul>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%202008%20New%20Sid.pdf">2011-03-09 - 2008 New Sid.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Adding%20prompts%20to%20a%20SCCM%20Report.pdf">2011-03-09 - Adding prompts to a SCCM Report.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Alert%20Maker.pdf">2011-03-09 - Alert Maker.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Appending%20text%20to%20a%20file.pdf">2011-03-09 - Appending text to a file.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Basic%20SQL%20Queries.pdf">2011-03-09 - Basic SQL Queries.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Copy%20File.pdf">2011-03-09 - Copy File.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Copy%20recurse.pdf">2011-03-09 - Copy recurse.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Creating%20alerts%20based%20on%20event%20description.pdf">2011-03-09 - Creating alerts based on event description.pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20-%20Creating%20alerts%20based%20on%20event%20description.zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20FAT32%20large%20drives.pdf">2011-03-09 - FAT32 large drives.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20List%20all%20COM%20objects.pdf">2011-03-09 - List all COM objects.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20List%20all%20VirtualBox%20VMs.pdf">2011-03-09 - List all VirtualBox VMs.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20MP%20Sealer%20Tool.pdf">2011-03-09 - MP Sealer Tool.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Monitor%20-%20Alert%20on%20CPU%20usage.pdf">2011-03-09 - Monitor - Alert on CPU usage.pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20-%20Monitor%20-%20Alert%20on%20CPU%20usage.zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20RegEx.pdf">2011-03-09 - RegEx.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Start%20Process%20and%20get%20its%20PID.pdf">2011-03-09 - Start Process and get its PID.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Windows%20Gadget%20%E2%80%93%20gadget.xml.pdf">2011-03-09 - Windows Gadget – gadget.xml.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Windows%20Gadgets%20%E2%80%93%20Setting%20Settings.pdf">2011-03-09 - Windows Gadgets – Setting Settings.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Wireless.pdf">2011-03-09 - Wireless Networking on Windows Server 2008.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20-%20Working%20with%20folders.pdf">2011-03-09 - Working with folders.pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B01%5D%20Custom%20MP%20Dev%20(Index).pdf">2011-03-09 [01] Custom MP Dev (Index).pdf</a>
<ul>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B02%5D%20Custom%20MP%20Dev%20(C-MP-1A).pdf">2011-03-09 [02] Custom MP Dev (C-MP-1A).pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B03%5D%20Custom%20MP%20Dev%20(C-MP-1B).pdf">2011-03-09 [03] Custom MP Dev (C-MP-1B).pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B04%5D%20Custom%20MP%20Dev%20(C-MP-1C).pdf">2011-03-09 [04] Custom MP Dev (C-MP-1C).pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B05%5D%20Custom%20MP%20Dev%20(C-MP-1D).pdf">2011-03-09 [05] Custom MP Dev (C-MP-1D).pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20%5B05%5D%20Custom%20MP%20Dev%20(C-MP-1D).zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B06%5D%20Custom%20MP%20Dev%20(C-MP-2A).pdf">2011-03-09 [06] Custom MP Dev (C-MP-2A).pdf</a></li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B07%5D%20Custom%20MP%20Dev%20(C-MP-2B).pdf">2011-03-09 [07] Custom MP Dev (C-MP-2B).pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20%5B07%5D%20Custom%20MP%20Dev%20(C-MP-2B).zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B08%5D%20Custom%20MP%20Dev%20(C-MP-2C).pdf">2011-03-09 [08] Custom MP Dev (C-MP-2C).pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20%5B08%5D%20Custom%20MP%20Dev%20(C-MP-2C).zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B09%5D%20Custom%20MP%20Dev%20(C-MP-3A).pdf">2011-03-09 [09] Custom MP Dev (C-MP-3A).pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20%5B09%5D%20Custom%20MP%20Dev%20(C-MP-3A).zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B10%5D%20Custom%20MP%20Dev%20(C-MP-4A).pdf">2011-03-09 [10] Custom MP Dev (C-MP-4A).pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20%5B10%5D%20Custom%20MP%20Dev%20(C-MP-4A).zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-09%20%5B11%5D%20Custom%20MP%20Dev%20(C-MP-4B).pdf">2011-03-09 [11] Custom MP Dev (C-MP-4B).pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-09%20%5B11%5D%20Custom%20MP%20Dev%20(C-MP-4B).zip">Supporting files</a>)</li>
</ul>
</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-10%20-%20MP%20Sealer%201.0.1.pdf">2011-03-10 - MP Sealer 1.0.1.pdf</a> - (<a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/_files/2011-03-10%20-%20MP%20Sealer%201.0.1.zip">Supporting files</a>)</li>
<li><a href="https://github.com/rniemand/code-samples/blob/main/blog-posts/2011/2011-03/2011-03-11%20-%20Create%20a%20new%20VHD%20(VirtualBox).pdf">2011-03-11 - Create a new VHD (VirtualBox).pdf</a></li>
</ul>
