---
title: Anet A8 - My first 3D printer
date: 2017-08-31
tags: [3d printing]
logo: 3dprinter.png
---

<p>About 2 months ago I finally received one of my biggest packages from China to date, that was an <a href="https://www.banggood.com/Anet-A8-DIY-3D-Printer-Kit-1_75mm-or-0_4mm-Support-ABS-or-PLA-or-HIPS-p-1130694.html?imageAb=2&amp;akmClientCountry=CA&amp;cur_warehouse=CN">Anet A8 3D printer</a> from <a href="https://www.banggood.com/">BangGood</a> for around $239.99including shipping. I had a small issue with customs over the price of the printer / import duties which added about 3 additional weeks onto the shipping time.</p>
<p>With the customs issue it took my printer about 6 weeks to arrive, and came decorated with some free <a href="https://www.sars.gov.za/">SARS</a> tape (thanks customs).</p>
<img src="./images/08/31-001.jpg" alt="" />
<p>I was pretty impressed with how the printer was packed, and everything has its place in the box with more than sufficient padding. There were no missing parts, and everything required to assemble the printer was included in the box.</p>
<img src="./images/08/31-002.jpg" alt="" />

<h2 id="assembly">Assembly</h2>
<p>The build was pretty straight forward, and the supplied build instructions (included on the 8 Gb SD Card that came with the printer) were enough to get up and running. I much prefer video instructions when it comes to building things and ended up following these to complete my printer build:</p>
<ul>
<li><a href="https://www.youtube.com/watch?v=-tiHfzBQZpI">Anet A8 Assembly - Part 1</a></li>
<li><a href="https://www.youtube.com/watch?v=EbNocv6-OOQ">Anet A8 Assembly - Part 2</a></li>
</ul>
<p>Below are some progress photos of the build process:</p>
<img src="./images/08/31-003.jpg" alt="" />
<img src="./images/08/31-004.jpg" alt="" />
<p>The frame of the printer is pretty compact, to give you a reference for size the build plate (with the yellow tape sitting on top) is 220 mm x 220 mm.</p>
<img src="./images/08/31-005.jpg" alt="" />
<img src="./images/08/31-006.jpg" alt="" />
<p>A quick power on test confirmed that I didn&#39;t wire up any of the components incorrectly, and I made use of the auto-home (home all) command in the UI to confirm that all the stepper motors were receiving power.</p>
<img src="./images/08/31-007.jpg" alt="" />
<blockquote>
<p>The total time it took me to build the printer was around 4-5 hours, I decided to take my time and ran numerous checks during the build process to ensure that I did not make any silly mistakes.</p>
<p><strong>FYI</strong>: you need to be careful with tightening all screws and belts. Too much tension can lead to a cracked frame. Also be extra careful to match all polarity when wiring up the controller boards.</p>
</blockquote>

<h2 id="upgrades">Upgrades</h2>
<p>By itself the Anet A8 is an amazing entry level (learning) printer given its low barrier to entry, and is able to produce pretty good quality prints. It has a heated print bed allowing it to print in a multitude of materials PLA, ABS, HIPS, WOOD, PVA and Nylon, however I mainly print in PLA as it is a lot easier to work with in my opinion.</p>
<p>So far I have added / printed the following upgrades for the printer:</p>
<ul>
<li><a href="https://www.thingiverse.com/thing:1935151">Extruder Button Upgrade</a> - makes the button a lot easier on your fingers to push down</li>
<li><a href="https://www.thingiverse.com/thing:1620630">Center Nozzle Fan Upgrade</a> - allows for better cooling of your print</li>
</ul>
<img src="./images/08/31-008.jpg" alt="" />
<ul>
<li><a href="https://www.thingiverse.com/thing:2373970">Anet A8 Fan Holder</a> - allows for quick replacement of the filament.</li>
</ul>
<img src="./images/08/31-009.jpg" alt="" />
<ul>
<li>Heat bed printing mat - although I found that my prints stuck a little too well and ended up removing it. I would recommend this if you are having adhesion issues.</li>
</ul>
<img src="./images/08/31-010.jpg" alt="" />
<ul>
<li>12v LED Strip - added mainly for printing at night.</li>
</ul>
<img src="./images/08/31-011.jpg" alt="" />
<ul>
<li>Custom webcam mount for OctoPrint (I designed this one myself)</li>
</ul>
<img src="./images/08/31-012.jpg" alt="" />
<ul>
<li><a href="https://www.thingiverse.com/thing:1858435">Anti Z Wobble for Anet A8</a> - adds better stability to the Z-Axis while printing</li>
<li><a href="https://www.thingiverse.com/thing:1764285">Anet A8 filament guide</a> - simple guide for my filament before I printed a proper spool holder</li>
<li><a href="https://www.thingiverse.com/thing:2013479">Anet A8 Mainboard Cover</a> - helps to neaten up the wires coming out of the driver board</li>
</ul>
<img src="./images/08/31-013.jpg" alt="" />
<ul>
<li><a href="https://www.thingiverse.com/thing:2441675">Anet A8 - Spool Holder</a></li>
<li>Quick Change Universal Spool Holder</li>
</ul>
<img src="./images/08/31-014.jpg" alt="" />

<h2 id="print-quality">Print Quality</h2>
<p>Below are some pictures showcasing the quality of prints that I have been able to achieve using the Anet A8.</p>
<img src="./images/08/31-015.jpg" alt="" />
<p>Simple project box for a LED display matrix project I was working on, unfortunately I managed to damage the matrix board and have ordered a replacement. This was printed at around 60 mm/s and had some warping issues as I printed it on a cold heat bed.</p>
<img src="./images/08/31-016.jpg" alt="" />
<p>iPhone cover for my mom's phone was printed at a lower speed (~40 mm/s) and came out a lot better.</p>
<img src="./images/08/31-017.jpg" alt="" />
<p>Small Boston Terrier test print, here the printer struggled with the ears due to the fact I was using a fast travel speed, and not nearly enough retraction.</p>
<img src="./images/08/31-018.jpg" alt="" />
<p>My current print which is a case for PacketMonitor</p>
<img src="./images/08/31-019.jpg" alt="" />
