---
title: Serial Tester (Arduino Tool)
date: 2017-05-04
tags: [.net]
logo: dotnet.png
---

<p>Inspired by a <a href="https://www.youtube.com/watch?v=J5vQFLjXk2I">youtube video</a> I wanted to start communicating with my Arduino via a serial connection from my computer. Having a connection from my <code>computer</code> -&gt; <code>Arduino</code> opens up a whole lot of new and exciting projects (e.g. external CPU / Memory display ...).</p>
<p>Following the video it was easy enough to get up and running, but a real pain having to open Visual Studio every time I wanted to change the commands I was sending to my Arduino. I decided to throw together a small .exe aptly named Serial Tester to allow for simpler communication from my side, and it looks something like this:</p>
<img src="./images/05/04-001.png" alt="">
<p>All the source code for the application is freely available on <a href="https://github.com/rniemand/SerialTester">GitHub here</a>.</p>
<p>Compiled versions of the program can be <a href="https://drive.google.com/drive/folders/0BwmLFltkLtlRQUotOXFsWDVrQ3M">found here</a>.</p>
<p>Feel free to use / modify &amp; share it, hopefully it helps you out also</p>
