---
title: Upgrading Home Assistant (Windows Service Edition)
date: 2017-09-11
tags: [home assistant]
logo: hass.png
---

<p>I have been using <a href="https://www.home-assistant.io/">Home Assistant</a> for about a week and already there is a new version of the software available. From what I can make out the <a href="https://github.com/home-assistant/core">project</a> is extremely active with a fortnightly release cycle. Generally the update process is pretty simple, however I am running my Home Assistant instance as a windows service covered in <a href="/blog/2017/2017-09-09/">my previous blog post</a>.</p>
<p>This is a quick post on the process you will need to take if you are doing the same:</p>
<ul>
<li>Stop the <strong>Home Assistant</strong> service using the windows service manager</li>
<li>Once stopped, back up your configuration files to be safe<ul>
<li>That&#39;s all the <code>*.yaml</code> files in your user directory</li>
<li>In my case that&#39;s <code>C:\Users\&lt;user&gt;\AppData\Roaming\.homeassistant</code></li>
</ul>
</li>
</ul>
<p>Open an elevated command prompt and issue the below command:</p>
{% highlight "shell" %}
pip3 install --upgrade homeassistant
{% endhighlight %}
<p>This will download and install the latest version of Home Assistant from the GitHub repository, once done you can start up your home assistant service via the windows service management console.</p>
<p>You&#39;re done!</p>
<img src="./images/09/11-013.png" alt="" />
