---
title: Core Unraid Plugins and Containers
date: 2025-07-07
tags: [unraid]
#banner: blue.png
logo: unraid.png
draft: true
---

<h2 id="unraid-plugins">Unraid Plugins</h2>

<p>Below is a list of some of the most helpful plugins that I have found for Unraid.</p>

<div class="accordion" id="pluginsAccordian">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ca-auto-up-apps" aria-expanded="false" aria-controls="ca-auto-up-apps">CA Auto Update Applications</button>
		</h2>
		<div id="ca-auto-up-apps" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body">
				<p>Part of the CA family, Auto Update Applications will keep your selected plugins and docker applications up to date</p>
				<img src="./09.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#system-temps" aria-expanded="false" aria-controls="system-temps">Dynamix System Temperature</button>
		</h2>
		<div id="system-temps" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body">
				<p>Dynamix System Temperature shows in real-time the temperature of the system CPU and motherboard. Temperatures can be displayed in Celsius or Fahrenheit. Your hardware must support the necessary probes, and additional software drivers may be required too.</p>
				<img src="./10.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fix-common-problems" aria-expanded="false" aria-controls="fix-common-problems">Fix Common Problems</button>
		</h2>
		<div id="fix-common-problems" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body">
				<p>A Plugin to diagnose and suggest fixes for common problems, configuration mistakes, etc.</p>
				<img src="./11.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#folder-view-2" aria-expanded="false" aria-controls="folder-view-2">FolderView2</button>
		</h2>
		<div id="folder-view-2" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body">
				<p>FolderView2 lets you create folders for grouping Dockers and VMs together to help with organization. Especially useful if you're using docker-compose. Getting Started: A new button named "Add Folder" will appear at the bottom of the docker/VM tab next to "Add Container/VM".</p>
				<img src="./12.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#unbalanced" aria-expanded="false" aria-controls="unbalanced">unbalanced</button>
		</h2>
		<div id="unbalanced" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body">
				<p>unbalanced transfers files/folders between disks in your array.</p>
				<img src="./13.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#user-scripts" aria-expanded="false" aria-controls="user-scripts">User Scripts</button>
		</h2>
		<div id="user-scripts" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body">
				<p>A plugin to act as a simple front end for any user scripts to allow you to run them without entering the command line</p>
				<img src="./14.png" alt="" />
			</div>
		</div>
	</div>
</div>

<h2>Docker Containers</h2>

<p>Some of the more useful Docker containers I use with my Unraid server.</p>

<div class="accordion" id="dockerAccordian">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hass-unraid" aria-expanded="false" aria-controls="hass-unraid">hass-unraid</button>
		</h2>
		<div id="hass-unraid" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<div class="d-flex">
					<div class="flex-fill">
						<p>
							The
							<a href="https://github.com/IDmedia/hass-unraid" target="_blank">hass-unraid</a>
							is a Docker container parses and forwards all WebSocket messages from your Unraid server to Home Assistant using the MQTT protocol.
						</p>
						<p>As per the <a href="https://github.com/IDmedia/hass-unraid?tab=readme-ov-file#getting-started" target="_blank">getting started documentation</a> my server configuration looks something like this:</p>
						{% highlight "yaml" %}
unraid:
  - name: NAS
    host: 192.168.0.60
    port: 80
    ssl: false
    username: root
    password: pass
    scan_interval: 30

mqtt:
  host: 192.168.0.60
  port: 1883
  username: hass
  password: pass
						{% endhighlight %}
						<p>When running the container will publish collected data via MQTT in such a way that Home Assistant will discover it as an MQTT provided device:</p>
						<img src="./16.png" alt="">
						<p>I make use of <a href="#unraid-plugins" data-bs-toggle="collapse" data-bs-target="#system-temps">Dynamix System Temperature</a> (above) to collect the temperatures of my CPU's, however I needed to publish 1 CPU temperature as the motherboard due to limitation in how the container collects information.</p>
						<p>In Home Assistant I make use of the <a href="https://www.home-assistant.io/integrations/influxdb/" target="_blank">InfluxDB</a> plugin to forward all collected data to my InfluxDB instance.</p>
						<p>Finally, using something like <a href="https://grafana.com/grafana/" target="_blank">Grafana</a> I visualise the collected data to monitor my server temps.</p>
					</div>
					<div><img src="./02.png" class="no-borders" width="75" alt="" /></div>
				</div>

				<img src="./15.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#binhex-syncthing" aria-expanded="false" aria-controls="binhex-syncthing">Syncthing</button>
		</h2>
		<div id="binhex-syncthing" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<p><code>binhex-syncthing</code></p>
				<img src="./01.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#crashplan-pro" aria-expanded="false" aria-controls="crashplan-pro">CrashPlanPRO</button>
		</h2>
		<div id="crashplan-pro" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<img src="./03.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#binhex-krusader" aria-expanded="false" aria-controls="binhex-krusader">binhex-krusader</button>
		</h2>
		<div id="binhex-krusader" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<img src="./04.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#photoprism" aria-expanded="false" aria-controls="photoprism">PhotoPrism</button>
		</h2>
		<div id="photoprism" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<img src="./05.png" class="no-borders" width="100" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#jdownloader" aria-expanded="false" aria-controls="jdownloader">jDownloader2</button>
		</h2>
		<div id="jdownloader" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<img src="./06.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stirling-pdf" aria-expanded="false" aria-controls="stirling-pdf">StirlingPDF</button>
		</h2>
		<div id="stirling-pdf" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<img src="./07.png" alt="" />
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#watch-your-lan" aria-expanded="false" aria-controls="watch-your-lan">WatchYourLAN</button>
		</h2>
		<div id="watch-your-lan" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body">
				<img src="./08.png" alt="" />
			</div>
		</div>
	</div>
</div>
