---
title: Core Unraid Plugins and Containers
date: 2025-07-07
tags: [unraid]
#banner: blue.png
logo: unraid.png
---

<h2 id="unraid-plugins">Unraid Plugins</h2>

<p>Below is a list of some of the plugins I use on my server.</p>

<div class="accordion" id="pluginsAccordian">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ca-auto-up-apps" aria-expanded="false" aria-controls="ca-auto-up-apps">CA Auto Update Applications</button>
		</h2>
		<div id="ca-auto-up-apps" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p>Part of the CA family, Auto Update Applications will keep your selected plugins and docker applications up to date</p>
					<img src="./09.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://forums.unraid.net/topic/51959-plugin-ca-application-auto-update/" target="_blank">
						<img src="./28.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#system-temps" aria-expanded="false" aria-controls="system-temps">Dynamix System Temperature</button>
		</h2>
		<div id="system-temps" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://forums.unraid.net/topic/34889-dynamix-v6-plugins/" target="_blank">Dynamix System Temperature</a> shows in real-time the temperature of the system CPU and motherboard. Temperatures can be displayed in Celsius or Fahrenheit. Your hardware must support the necessary probes, and additional software drivers may be required too.</p>
					<img src="./10.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://forums.unraid.net/topic/34889-dynamix-v6-plugins/" target="_blank">
						<img src="./29.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fix-common-problems" aria-expanded="false" aria-controls="fix-common-problems">Fix Common Problems</button>
		</h2>
		<div id="fix-common-problems" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p>A Plugin to diagnose and suggest fixes for common problems, configuration mistakes, etc.</p>
					<img src="./11.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://forums.unraid.net/topic/47266-plugin-ca-fix-common-problems/" target="_blank">
						<img src="./30.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#folder-view-2" aria-expanded="false" aria-controls="folder-view-2">FolderView2</button>
		</h2>
		<div id="folder-view-2" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://forums.unraid.net/topic/189167-plugin-folderview2" target="_blank">FolderView2</a> lets you create folders for grouping Dockers and VMs together to help with organization. Especially useful if you're using docker-compose. Getting Started: A new button named "Add Folder" will appear at the bottom of the docker/VM tab next to "Add Container/VM".</p>
					<img src="./12.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://forums.unraid.net/topic/189167-plugin-folderview2" target="_blank">
						<img src="./31.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#unbalanced" aria-expanded="false" aria-controls="unbalanced">unbalanced</button>
		</h2>
		<div id="unbalanced" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://forums.unraid.net/topic/43651-plugin-unbalanced/" target="_blank">unbalanced</a> transfers files/folders between disks in your array.</p>
					<p>I mainly use this plugin to consolidate files from the same folder that span multiple disks.</p>
					<img src="./13.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://forums.unraid.net/topic/43651-plugin-unbalanced/" target="_blank">
						<img src="./32.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#user-scripts" aria-expanded="false" aria-controls="user-scripts">User Scripts</button>
		</h2>
		<div id="user-scripts" class="accordion-collapse collapse" data-bs-parent="#pluginsAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p>A plugin to act as a simple front end for any user scripts to allow you to run them without entering the command line</p>
					<img src="./14.png" alt="" />
					<p>I make use of this plugin to run scheduled scripts against my Unraid server (like my <a href="/blog/2025/2025-07-07/post/">appdata backup script</a>).</p>
				</div>
				<div class="ms-2">
					<a href="https://forums.unraid.net/topic/48286-plugin-ca-user-scripts/" target="_blank">
						<img src="./33.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<h2>Docker Containers</h2>

<p>Below is a list of some of the Docker containers I use on my server.</p>

<div class="accordion" id="dockerAccordian">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hass-unraid" aria-expanded="false" aria-controls="hass-unraid">hass-unraid</button>
		</h2>
		<div id="hass-unraid" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
						<p>
							The
							<a href="https://github.com/IDmedia/hass-unraid" target="_blank">hass-unraid</a>
							is a Docker container parses and forwards all WebSocket messages from your Unraid server to Home Assistant using the MQTT protocol.
						</p>
						<p>As per the <a href="https://github.com/IDmedia/hass-unraid?tab=readme-ov-file#getting-started" target="_blank">getting started documentation</a> my server configuration looks something like this:</p>
						{% highlight "yaml" %}
unraid:
  - name: NAS
    host: 192.168.0.60
    port: 80
    ssl: false
    username: root
    password: pass
    scan_interval: 30

mqtt:
  host: 192.168.0.60
  port: 1883
  username: hass
  password: pass
						{% endhighlight %}
						<p>When running the container will publish collected data via <code>MQTT</code> so Home Assistant can discover it.</p>
						<img src="./16.png" alt="">
						<p>I make use of <a href="#unraid-plugins" data-bs-toggle="collapse" data-bs-target="#system-temps">Dynamix System Temperature</a> (above) to collect the temperatures of my CPU's, however I needed to assign one of my CPUs as the motherboard temperature in Unraid to work around a limitation with <code>Dynamix System Temperature</code>.</p>
						<p>In Home Assistant I make use of the <a href="https://www.home-assistant.io/integrations/influxdb/" target="_blank">InfluxDB</a> plugin to forward all collected data to my InfluxDB instance.</p>
						<p>Finally, using something like <a href="https://grafana.com/grafana/" target="_blank">Grafana</a> I visualise the collected data to monitor my server temps.</p>
						<img src="./15.png" alt="" />
					</div>
					<div class="ms-2">
						<a href="https://github.com/IDmedia/hass-unraid" target="_blank">
							<img src="./02.png" class="no-borders" width="50" alt="" />
						</a>
					</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#binhex-syncthing" aria-expanded="false" aria-controls="binhex-syncthing">Syncthing</button>
		</h2>
		<div id="binhex-syncthing" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p>Another useful container is <code>binhex-syncthing</code>. It allows you to synchronise files between your computers in a multitude of different syncing mechanisms.</p>
					<img src="./01.png" alt="" />
					<p>Personally, I use it to synchronise important files between my 2 servers, which is then backed up to the cloud via <a href="#" data-bs-toggle="collapse" data-bs-target="#crashplan-pro">CrashPlan</a> to ensure all my photos, code and documents are kept safe.</p>
					<img src="./18.png" alt="">
				</div>
				<div class="ms-2">
					<a href="https://syncthing.net/" target="_blank">
						<img src="./17.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#crashplan-pro" aria-expanded="false" aria-controls="crashplan-pro">CrashPlanPRO</button>
		</h2>
		<div id="crashplan-pro" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://www.crashplan.com/" target="_blank">CrashPlan</a> is an affordable offsite backup solution for all your personal files which offers competitive pricing and supports all major operating systems. Personally, I have been using it for close to 10 years with no issues.</p>
					<img src="./03.png" alt="" />
					<p>Running it as a Docker container allows me to upgrade my Unraid server with no need to reinstall the client once done. All you need to do is ensure that you map the same shares to the container (generally <code>/mnt/user/</code>) and you are protected.</p>
					<p>They offer a WebUI to manage your backups too!</p>
					<img src="./20.png" alt="">
				</div>
				<div class="ms-2">
					<a href="https://www.crashplan.com/" target="_blank">
						<img src="./19.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#binhex-krusader" aria-expanded="false" aria-controls="binhex-krusader">Krusader</button>
		</h2>
		<div id="binhex-krusader" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://krusader.org/" target="_blank">Krusader</a> is an advanced twin panel (commander style) file manager for KDE Plasma and other desktops in the *nix world, like Midnight or Total Commander. It provides all the file management features you could possibly want.</p>
					<p>Personally I make us of the <a href="https://hub.docker.com/r/binhex/arch-krusader" target="_blank">binhex-krusader</a> container, and it works well.</p>
					<img src="./04.jpg" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://krusader.org/" target="_blank">
						<img src="./21.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#photoprism" aria-expanded="false" aria-controls="photoprism">PhotoPrism</button>
		</h2>
		<div id="photoprism" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://www.photoprism.app/" target="_blank">PhotoPrism</a> is an AI-Powered Photos App for the Decentralized Web. It makes use of the latest technologies to tag and find pictures automatically without getting in your way. You can run it at home, on a private server, or in the cloud.</p>
					<p>PhotoPrism has some amazing features like auto-tagging, face detection, timelines, and so on. One of the coolest features is the ability to search your photos:</p>
					<img src="./22.jpg" alt="" />
					<p>You can search on a single person, multiple people, locations, camera, date, etc.</p>
					<img src="./23.jpg" alt="">
					<p>I would highly recommend checking it out.</p>
				</div>
				<div class="ms-2">
					<a href="https://www.photoprism.app/" target="_blank">
						<img src="./05.png" class="no-borders" width="50" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#jdownloader" aria-expanded="false" aria-controls="jdownloader">jDownloader</button>
		</h2>
		<div id="jdownloader" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://jdownloader.org/" target="_blank">JDownloader</a> is a free, open-source download management tool with a huge community that makes downloading as easy and fast as it should be. Users can start, stop or pause downloads, set bandwith limitations, auto-extract archives and much more. It's an easy-to-extend framework that can save hours of your valuable time every day!</p>
					<img src="./06.jpg" alt="" />
					<p>Used in conjunction with <a href="https://my.jdownloader.org/" target="_blank">MyJDownloader</a> you can easily send and manage downloads to your server through the provided Web UI.</p>
					<img src="./25.jpg" alt="">
				</div>
				<div class="ms-2">
					<a href="https://jdownloader.org/" target="_blank">
						<img src="./24.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#stirling-pdf" aria-expanded="false" aria-controls="stirling-pdf">StirlingPDF</button>
		</h2>
		<div id="stirling-pdf" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://www.stirlingpdf.com/" target="_blank">StirlingPDF</a> allows you to run over 50 powerful PDF tools — locally, securely, and on your own infrastructure.</p>
					<p>They offer a free tier which seems to cover most use-cases, however there is a paid version of the application too which offers a lot more functionality should you need it.</p>
					<img src="./07.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://www.stirlingpdf.com/" target="_blank">
						<img src="./26.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#watch-your-lan" aria-expanded="false" aria-controls="watch-your-lan">WatchYourLAN</button>
		</h2>
		<div id="watch-your-lan" class="accordion-collapse collapse" data-bs-parent="#dockerAccordian">
			<div class="accordion-body d-flex">
				<div class="flex-fill">
					<p><a href="https://github.com/aceberg/WatchYourLAN" target="_blank">WatchYourLAN</a> is a lightweight network IP scanner. Can be used to notify about new hosts and monitor host online/offline history.</p>
					<p>This is useful for identifying new hosts on your network, or for simplify keeping track of your network devices.</p>
					<img src="./08.png" alt="" />
				</div>
				<div class="ms-2">
					<a href="https://github.com/aceberg/WatchYourLAN" target="_blank">
						<img src="./27.png" class="no-borders" width="50" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
