---
title: Archive
eleventyNavigation:
  key: Archive
  order: 2
pagination:
  data: collections.posts
  size: 10
  reverse: true
---
<h1>Archive</h1>

<nav aria-label="Page navigation example">
  <ul class="pagination">
	{%- for pageEntry in pagination.pages %}
    	<li class="page-item {% if page.url == pagination.hrefs[ loop.index0 ] %}active{% endif %}">
			<a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
		</li>
	{%- endfor %}
  </ul>
</nav>

{% set postslist = pagination.items %}
{% include "postslist.njk" %}


