---
title: Home
eleventyNavigation:
  key: Home
  order: 1
pagination:
  data: collections.posts
  size: 10
  reverse: true
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(5) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * 5) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - 5 %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
