---
title: Home
eleventyNavigation:
  key: Home
  order: 1
pagination:
  data: collections.posts
  size: 10
  reverse: true
---

<p>&nbsp;</p>
<p>Welcome to my blog, I am in the process of porting it over to <a href="https://www.11ty.dev/" target="_blank">11ty</a>, so things may be broken for a while.</p>
<p>Everything should be up and running in the next couple of weeks or so, time permitting.</p>
<p class="mb-5">Feel free to browse around.</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(5) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * 5) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - 5 %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
