---
title: Projects
eleventyNavigation:
  key: Projects
  order: 4
---

<h1>Projects</h1>

<div class="alert alert-info"><strong>Note</strong>: This page is still a work in progress, and may change a bit in the future.</div>

<h2>Unraid</h2>

<ul>
	<li>
		<strong>Automated Backups</strong>: (
			<a href="/blog/2025/2025-07-07/post/">appdata</a>,
			<a href="/blog/2025/2025-07-09/post/">MariaDB</a>
		)
	</li>
	<li>
		<strong>Monitoring</strong>: (
			<a href="/blog/2025/2025-07-09/post2/">telegraf</a>,
			<a href="/blog/2025/2025-07-10/post/">Home Assistant</a>
		)
	</li>
</ul>

<h3>Other</h3>

<ul>
	<li><a href="/blog/2022/2022-06-07/post2/">Lounge Clock (v 1.0)</a></li>
</ul>
