---
title: Projects
eleventyNavigation:
  key: Projects
  order: 2
---

<h1>Projects</h1>

<p>This page serves as a quick reference to related posts around specific topics.</p>
<p>As new posts become available this section will be updated with links to entries in an easy to access manner.</p>

<h2>Home Assistant</h2>
<ul>
	<li>
		<strong>Automations</strong>: (
			<a href="/blog/2022/2022-06-10/post/">times of day</a>
		)
	</li>
	<li>
		<strong>Unraid</strong>: (
			<a href="/blog/2022/2022-05-27/post1/">installation</a>,
			<a href="/blog/2022/2022-05-30/post1/">DNS</a>,
			<a href="/blog/2022/2022-05-27/post2/">Maria DB</a>,
			<a href="/blog/2022/2022-06-06/post/">MQTT</a>
		)
	</li>
	<li>
		<strong>Projects</strong>: (
			<a href="/blog/2017/2017-10-19/">door monitoring</a>,
			<a href="/blog/2017/2017-09-19/post/">gate monitoring</a>
		)
	</li>
	<li>
		<strong>TTS</strong>: (
			<a href="/blog/2022/2022-05-30/post2/">setup</a>
		)
	</li>
	<li>
		<strong>Zigbee</strong>: (
			<a href="/blog/2022/2022-06-07/post1/">Zigbee & Z-Wave</a>
		)
	</li>
	<li>
		Archive
		<ul>
			<li>
				<strong>2019</strong>: (
					<a href="/blog/2019/2019-01-16/post/">door monitoring</a>
				)
			</li>
			<li>
				<strong>2018</strong>: (
					<a href="/blog/2018/2018-02-16/post/">MySQL</a>,
					<a href="/blog/2018/2018-02-15/post/">upgrading</a>,
					<a href="/blog/2018/2018-07-25/post1/">history</a>,
					<a href="/blog/2018/2018-07-19/post/">presence</a>,
					<a href="/blog/2018/2018-06-28/post2/">secrets</a>,
					<a href="/blog/2018/2018-06-28/post1/">Plex</a>,
					<a href="/blog/2018/2018-12-06/post/">configuration</a>
				)
			</li>
			<li>
				<strong>2017</strong>: (
					<a href="/blog/2017/2017-09-09/">Windows service</a>
				)
			</li>
		</ul>
	</li>
</ul>

<h2>Unraid</h2>
<ul>
	<li>
		<strong>Automated Backups</strong>: (
			<a href="/blog/2025/2025-07-07/">appdata</a>,
			<a href="/blog/2025/2025-07-09/">MariaDB</a>
		)
	</li>
	<li>
		<strong>Monitoring</strong>: (
			<a href="/blog/2025/2025-07-10/">telegraf</a>,
			<a href="/blog/2025/2025-07-11/">Home Assistant</a>
		)
	</li>
</ul>

<h2>Other</h2>

<ul>
	<li>
		<strong>Ardruino</strong>: (
			<a href="/blog/2017/2017-02-27/">Cheat sheet</a>,
			<a href="/blog/2017/2017-02-28/">data types</a>
		)
	</li>
	<li><a href="/blog/2022/2022-06-07/post2/">Lounge Clock (v 1.0)</a></li>
	<li><strong>JS Pong</strong>: (
		<a href="/blog/2016/2016-07-29/">post 1</a>,
		<a href="/blog/2016/2016-08-02/">post 2</a>
	)</li>
</ul>
