---
title: Running Home Assistant On Unraid
date: 2021-10-25
tags: [home assistant, unraid]
logo: hass.png
---

<p>I have been running <a href="https://www.home-assistant.io/">Home Assistant</a> for years, and absolutely love it. By far the easiest way to run Home Assistant is using the official <a href="https://www.home-assistant.io/installation/linux">Home Assistant Operating System</a>, specifically the <code>.qcow2</code> image paired with my local <a href="https://unraid.net/">Unraid</a> server.</p>
<p>As there are literally thousands of posts out there covering the deployment of Home Assistant online, this post is more of a quick reference for those people who want to get up and running quickly, let's dive in:</p>
<h2 id="grab-the-latest-image">Grab the latest image</h2>
<p>First we will need to grab the latest build of <a href="https://www.home-assistant.io/installation/linux">Home Assistant Operating System</a>.</p>
<p>We are interested in the <code>.qcow2</code> image as stated above.</p>
<img src="./001.png" alt="" />
<p>You will need to upload the image to your Unraid's domains domain folder (or wherever you store your VM images).</p>
<h2 id="vm-setup">VM Setup</h2>
<p>Once you have the image downloaded, head over to the VMS tab in Unraid and create a new Linux VM with the following configuration.</p>
<ul>
<li><strong>Name</strong>: HomeAssistant</li>
<li><strong>Memory</strong>: 2GB (or more)</li>
<li><strong>CPU(s)</strong>: Assign an amount that makes sense to you (I am using 4)</li>
<li><strong>Machine</strong>: Q35-5.1 (or whatever is latest)</li>
<li><strong>BIOS</strong>: OVFM</li>
<li><strong>Primary vDisk</strong>: <code>/mnt/user/domains/homeassistant/hassosova-5.13.qcow2</code></li>
</ul>
<img src="./002.png" alt="" />
<ul>
<li><strong>Network MAC</strong>: Anything that you want (I just used the suggested value)</li>
<li><strong>USB Devices</strong>: Here you can select any USB devices you wish to pass through to Home Assistant</li>
</ul>
<img src="./003.png" alt="" />
<p>That covers all the configuration needed for the VM.</p>
<blockquote>
<p><strong>Note</strong>: don't start the VM yet - we still need to do some additional configuration on our router first!</p>
</blockquote>
<h2 id="router-configuration">Router Configuration</h2>
<p>To make things easy, I would suggest setting a static IP address for Home Assistant on your router - again this can vary a LOT depending on the make and model of your router. Ideally we are wanting to get the following configured:</p>
<ul>
<li><strong>Static IP Address</strong> - this will ensure that we can always access Home Assistant on a known IP Address</li>
<li><strong>Port Forwarding</strong> - (optional) Allow external access to Home Assistant from the outside world - super useful if you are running presence detection</li>
</ul>
<p>For my router I assigned <code>192.168.0.100</code> to Home Assistant as shown below:</p>
<img src="./004.png" alt="" />
<p>Additionally I have re-mapped the default port <code>8123</code> to <code>443</code> (https) and forwarded all incoming TCP traffic to my Home Assistant server as shown below:</p>
<img src="./005.png" alt="" />
<blockquote>
<p><strong>Note</strong>: You don't need to change the default port, I am making use of some integrations that require Home Assistant to be running on 443.</p>
</blockquote>
<h2 id="pi-hole-dhcp-dns-configuration-optional">Pi-hole / DHCP / DNS Configuration (Optional)</h2>
<p>I run <a href="https://pi-hole.net/">Pi-hole</a> locally to block adverts on my internal network, along with this I am using Pi-hole as a DHCP server so I need to ensure that I add a reservation for Home Assistant (based on the VMS MAC Address) as shown below:</p>
<img src="./006.png" alt="" />
<p>Adding this reservation will ensure that my VM is assigned the correct IP Address when it first boots.</p>
<p>Additionally I need to add a DNS record for my external Home Assistant URL to make client configuration easier (this may not be required on your end). Basically this allows me to use the same URL for Home Assistant for all my devices regardless of what network they are connected to:</p>
<img src="./007.png" alt="" />
<p>That covers the optional DNS / DHCP configuration.</p>
<h2 id="onboarding">Onboarding</h2>
<p>It's that simple, your next step is to start the VM and configure your new Home Assistant server.</p>
<p>It may take some time for the VM to complete its initial boot (as there are a lot of once off scripts \ configuration that need to run), you can make use of the VNC Remote utility to see exactly where you are in the initial boot process should the need arise.</p>
<img src="./008.png" alt="" />
<p>Once everything is completed the VM should default to the following screen.</p>
<img src="./009.png" alt="" />
<p>Happy hacking!</p>
