// $tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

// @import "{{ site.theme }}";

/* append your custom style below */

.post-content {
  a.img-link {
    img {
      border: 2px solid #5e5c5b;
      box-shadow: rgb(54, 54, 56) 1.95px 1.95px 2.6px;
      border-radius: 6px;
    }
  }
}

@media print {
  .post {
    padding: 5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem !important;
  }

  .highlighter-rouge {
    width: 100%;

    .highlight {
      width: 100%;

      table td pre {
        border: 0px;
      }

      .rouge-code {
        width: 100%;

        pre {
          width: 100%;
        }
      }
    }
  }

  .post-content {
    a.img-link {
      img {
        border: 2px solid #000000 !important;
        box-shadow: rgb(54, 54, 56) 1.95px 1.95px 2.6px;
        border-radius: 6px;
      }
    }
  }

  #back-to-top,
  .post-tail-wrapper,
  .post-meta,
  .post-tags,
  .post-tail-bottom,
  #tail-wrapper,
  #related-posts {
    display: none !important;
  }

  .post h1:first-child {
    text-align: center;
  }
}
