---
title: Home Assistant From Scratch - History
date: 2018-07-25
tags: [home assistant]
logo: hass.png
---

<blockquote>
<p>This is one <strong><a href="/blog/2018/2018-06-27/">post in a series</a></strong> of getting up and running with Home Assistant from scratch.</p>
</blockquote>

<p>Today I would like to cover the History component of Home Assistant, and show you how to ignore certain entities or domains altogether through it.</p>

<h2 id="new-terminology">New Terminology</h2>
<p>In this post I will be talking about <code>entities</code> and <code>domains</code> in Home Assistant, these are relatively simple terms which you are familiar with already, albeit you didn&#39;t know the proper names for them.</p>

<h3 id="entities">Entities</h3>
<p>An entity in Home Assistant is anything that you can interact with, for example one of the <a href="/blog/2018/2018-07-02/">Philips Hue lights we added in an earlier post</a>. All objects in Home Assistant inherit from the <a href="https://github.com/home-assistant/core/blob/dev/homeassistant/helpers/entity.py">entity base class</a>, and can be seen in the states section of the developer tools.</p>
<img src="./images/07/25-001.png" alt="" />
<img src="./images/07/25-002.png" alt="" />
<p>It is these names (I like to think of them as the entity&#39;s fully qualified name) that we use to configure certain aspects of Home Assistant - like creating groups, views or automatons. A fully qualified name of an entity follows the <code>&lt;domain&gt;.&lt;entity_id&gt;</code> naming convention.</p>

<h3 id="domains">Domains</h3>
<p>Entities are grouped together into collections known as <code>domains</code> in Home Assistant, making them easier to manage, and helps provide some insight into what a particular entity does (e.g. deck is less helpful when compared to <code>light.deck</code>).</p>
<p>Again we have already seen domains in action when creating the custom light group back in <a href="/blog/2018/2018-07-02/">this post</a>, with the groups we created again being added to the group domain.</p>
<img src="./images/07/25-003.png" alt="" />
<p>This concept is useful in Home Assistant (as you will see later) as it allows you to exclude / include a dynamic collection of entities rather than listing them one at a time.</p>

<h2 id="world-clock-sensor">World Clock Sensor</h2>
<p>I am going to add the <a href="https://www.home-assistant.io/integrations/worldclock/">world clock sensor</a> to Home Assistant to allow me to keep tabs on the time in Canada and South Africa. We do this by adding the following lines to the configuration.yaml file ...</p>
{% highlight "yaml" %}
sensor:
  - platform: worldclock
    time_zone: Canada/Mountain
    name: World Clock Canada

  - platform: worldclock
    time_zone: Africa/Johannesburg
    name: World Clock South Africa
{% endhighlight %}
<p>... and grouping them like so:</p>
{% highlight "yaml" %}
time_group:
  name: Date & Time
  entities:
    - sensor.world_clock_canada
    - sensor.world_clock_south_africa
{% endhighlight %}
<p>This will result in the following new panel on your Home Assistant dashboard.</p>
<img src="./images/07/25-004.png" alt="" />

<h2 id="history-component">History Component</h2>
<p>The <a href="https://www.home-assistant.io/integrations/history/">history component</a> will track everything that is going on within Home Assistant and allows the user to browse through it. It depends on the <a href="https://www.home-assistant.io/integrations/recorder/">recorder component</a> for storing the data and uses the same database setting.</p>
<p>As you can see the history component is great as it allows us to query the state of any component in Home Assistant from the past, what is not so great is the fact that every component in Home Assistant is tracked automatically, including every state change. For something that changes as often as a clock, or for entities we don&#39;t care about, this is a waste of storage and can slow down your database (depending on where it is hosted).</p>
<img src="./images/07/25-005.png" alt="" />
<p>We are already getting data stored in history for our clock, let&#39;s stop that!</p>

<h3 id="ignoring-a-specific-entity">Ignoring a specific entity</h3>
<p>Unfortunately for me the world clock sensor is part of the <code>sensor&#39;s</code> domain so we cannot exclude it by the domain name - if we were to do this we would lose all sensor information, what we need to do in this case is exclude our clocks by <code>entity</code> name.</p>
<img src="./images/07/25-006.png" alt="" />
<p>To exclude an entity from the history component is as simple as adding it to the exclusion list like shown in the documentation:</p>
{% highlight "yaml" %}
history:
  exclude:
    entities:
      - sensor.world_clock_canada
      - sensor.world_clock_south_africa
{% endhighlight %}
<p>After validating your configuration to ensure that you didn&#39;t make any typos, restart Home Assistant for the changes to take effect. If done correctly you will no longer have any new history entries being recorded for your world_clockcomponents.</p>

<blockquote>
<p><strong>Note</strong>: You will need to wait a day or so for the data to be removed from the history view, this is because we stopped new data from being recorded and did not delete the recorded data from the DB.</p>
</blockquote>

<h3 id="ignoring-a-domain">Ignoring a domain</h3>
<p>In some cases you may not want to collect history for a group of entities in Home Assistant, for me this is all items in the group domain. As mentioned earlier domains are the leading bit in an entity name (e.g. <code>mediaplayer.loungespeaker</code> - the domain is <code>media_player</code>), you can get an idea of all the domains you are using through the States View.</p>
<p>Like with single entities, you can exclude a domain through the exclude option on the history component, so in my case I can exclude all groups with the following configuration:</p>
{% highlight "yaml" %}
history:
  exclude:
    domains:
      - group
{% endhighlight %}
<p>After a quick validation of my configuration, a restart of Home Assistant (and some time for the history to roll over to the next day) - I no longer have any group history</p>
<img src="./images/07/25-007.png" alt="" />

<h2 id="in-closing">In Closing</h2>
<p>As always, I hope that you found this post interesting and helpful. I am always looking for any feedback, comments or suggestions to help provide better content.</p>
