---
title: Home Assistant From Scratch - MySQL
date: 2018-07-17
tags: [home assistant, database]
logo: hass.png
---

<blockquote>
<p>This is one <strong><a href="/blog/2018/2018-06-27/">post in a series</a></strong> of getting up and running with Home Assistant from scratch.</p>
</blockquote>

<p>Today I would like to cover switching from the default SQLite database that Home Assistant uses over to MySQL - there is a slight performance update when making this switch, not to mention that it frees up valuable resources on my Raspberry Pi.</p>

<h2 id="why-use-mysql-">Why use MySQL?</h2>
<p>My main driver for switching from SQLite to MySQL is performance and resources. If you have been following <a href="/series/">this series</a> you will know that I am running my Home Assistant setup on a Raspberry Pi (through <a href="https://www.home-assistant.io/getting-started">hass.io</a>) for ease of use. This works amazingly well, however the throughput of the default database suffers due to the limited resources on the Pi.</p>
<p>I already have a <a href="https://www.mysql.com/products/community/">MySQL Community Edition</a> server running on my home network complete with weekly backups of some select databases. So for me it makes sense to create a new home_assistant schema on my server and gain the performance benefits over SQLite.</p>
<p>For the remainder of this post I am going to presume that you have an instance of MySQL running somewhere on your home network (<a href="https://dev.mysql.com/doc/refman/8.0/en/windows-installation.html">official installation guide</a>) along with <a href="https://www.mysql.com/products/workbench/">MySQL Workbench</a> to manage your server.</p>

<h2 id="the-process">The process</h2>
<p>The process to switch over to MySQL is pretty straight forward, and requires only 3 lines of configuration in Home Assistant (2 if you are not using a secrets.yaml file), and will comprise of the following steps:</p>
<ul>
<li>Create a new database (schema) called home_assistant</li>
<li>Create an elevated user (with remote login) called hass_user associated with the new schema</li>
<li>Configure Home Assistant to point to your MySQL server</li>
<li>Restart Home Assistant and enjoy</li>
</ul>

<h3 id="creating-the-database">Creating the database</h3>
<p>Creating the database is as simple as connecting to your server through MySQL Workbench and clicking the create new schema shortcut, giving the schema a name and clicking create.</p>
<img src="./images/07/17-001.png" alt="" />
<p>Once done you should have a new schema called home_assistant ready to go.</p>
<img src="./images/07/17-002.png" alt="" />

<h3 id="creating-the-hass_user-account">Creating the hass_user account</h3>
<p>To create the hass_user account simply click on the Users and Privileges link found under the Navigator pane followed by the Add Account button at the far bottom.</p>
<img src="./images/07/17-003.png" alt="" />
<p>Be sure to generate a strong password for the account, along with allowing all hosts <code>%</code> to connect as this user - this is important as the user account will be coming in from your Home Assistant server and not your MySQL server&#39;s localhost.</p>
<img src="./images/07/17-004.png" alt="" />
<p>In terms of privileges for the account, be sure to select what makes sense for your user (I was not 100% sure what to grant, so I gave my account DBA rights). I would suggest limiting the privileges for your setup, but my MySQL server does not face the internet, and the box it is running on is pretty boring to potential attackers.</p>
<img src="./images/07/17-005.png" alt="" />
<p>Click OK to create the user account.</p>

<h3 id="configuring-home-assistant">Configuring Home Assistant</h3>
<p>We will need to configure the <a href="https://www.home-assistant.io/integrations/recorder/">recorder component</a> and tell it to store \ retrieve all state and history information from MySQL instead of the default SQLite database.</p>
<p>In order to do this we will need to create a connection string for MySQL using the following structure: <code>mysql://&lt;user&gt;:&lt;pass&gt;@&lt;host&gt;/&lt;schema&gt;</code></p>
<p>In my case I would end up with a MySQL connection string looking something like this: <code>mysql://hass_user:PASS@10.0.0.50/home_assistant</code></p>
<p>I highly recommend storing any sensitive information like connection strings in your secrets.yaml file, and then referring to the secret value in your configuration. To do this we will add our new connection string to the secrets.yaml like so ...</p>
{% highlight "yaml" %}
db_mysql: mysql://hass_user:PASS@10.0.0.50/home_assistant
{% endhighlight %}
<p>... and then configure the recorder component in our configuration.yaml file like so (note: you may need to add in the recorder component to your file as it is omitted from configuration by default):</p>
{% highlight "yaml" %}
recorder:
  db_url: !secret db_mysql
{% endhighlight %}
<p>Once done be sure to validate your configuration and restart Home Assistant.</p>

<h3 id="enjoy-the-boost">Enjoy the boost</h3>
<p>After Home Assistant comes back up you should see that there are some new tables in your database, along with all the current state information for your home setup.</p>
<img src="./images/07/17-006.png" alt="" />
<p>That&#39;s it, you are now using MySQL - now would be a good time to remove the default &quot;home-assistant_v2.db&quot; file from your Raspberry Pi.</p>
<img src="./images/07/17-007.png" alt="" />
<p>Home Assistant will feel really fast now, this is mainly due to the fact that you have lost all your state information and will need to build it back up. However things should remain pretty quick even when things are back to normal (data wise) as shown here:</p>
<img src="./images/07/17-008.png" alt="" />
<img src="./images/07/17-009.png" alt="" />
<p>Hopefully you see the same performance gains as I did with the switch over to MySQL.</p>

<h2 id="in-closing">In Closing</h2>
<p>Although this change is not a requirement for your home setup, and depending on the size / amount of data you are collecting and reporting on may not be required I still highly recommend it. It makes management of your database a lot easier and helps reduce the amount of resources being used on your Home Assistant host device. On the flip side this can be another potential point of failure for your setup, but it is unlikely as MySQL is super stable from my personal experience.</p>
