---
title: Install MySQL on DietPi (Debian)
date: 2018-10-17
tags: [linux, database]
logo: mysql.png
---

<h2 id="base-installation">Base Installation</h2>
<p>To install MySQL (or more accurately MariaDB) on your DietPi \ Debian distribution all you need to do is run the following command:</p>
{% highlight "shell" %}
sudo apt install mysql-server
{% endhighlight %}
<p>This will download and install all the required packages and dependencies to get up and running quickly. Note you will need to do some additional configuration (below) in order to manage and access your MySQL instance remotely.</p>

<h2 id="creating-user-accounts">Creating User Accounts</h2>
<p>While connected to your device via ssh, run the below command to start the mysql prompt: <code>mysql</code></p>
<p>Create a new user with the following command, replacing the values for username and password with your own values.</p>
{% highlight "sql" %}
CREATE USER 'username' IDENTIFIED BY 'password';
{% endhighlight %}
<p>Grant all permissions to your user with the following command:</p>
{% highlight "sql" %}
GRANT USAGE ON *.* TO 'username'@'%' IDENTIFIED BY 'password';
FLUSH PRIVILEGES;
{% endhighlight %}
<p>Confirm that your user has been added successfully.</p>
{% highlight "sql" %}
select user,host from mysql.user;
{% endhighlight %}
<img src="./images/10/17-001.png" alt="" />

<h2 id="allowing-remote-connections">Allowing Remote Connections</h2>
<p>Before you can login to your MySQL server remotely you will need to make the following changes in the <code>50-server.cnf</code> file.</p>
{% highlight "shell" %}
nano /etc/mysql/mariadb.conf.d/50-server.cnf
{% endhighlight %}
<p>Find the <code>bind-address</code> and change it to <code>0.0.0.0</code> this will allow MySQL to listen on all interfaces for incoming connections.</p>
<img src="./images/10/17-002.png" alt="" />
<p>Save and close the file, followed by restarting the MySQL service.</p>
{% highlight "shell" %}
systemctl stop mysql.service
systemctl start mysql.service
{% endhighlight %}
<p>Test your connection to the server using the user created earlier.</p>
<img src="./images/10/17-003.png" alt="" />

<h2 id="creating-a-database">Creating a Database</h2>
<p>Open MySQL prompt: <code>mysql</code></p>
<p>Run the following commands, in my case I am creating a database for my Home Assistant installation.</p>
{% highlight "sql" %}
CREATE DATABASE `hass`;
{% endhighlight %}
<p>Give yourself permissions to the DB.</p>
{% highlight "sql" %}
GRANT ALL privileges ON `database`.* TO 'username'@'%';
FLUSH PRIVILEGES;
SHOW GRANTS FOR 'username'@'%';
{% endhighlight %}
<p>Your database should now be created and accessible by your user account.</p>
<img src="./images/10/17-004.png" alt="" />

<h2 id="useful-paths">Useful Paths</h2>
<ul>
<li><strong>MySQL data path</strong>: <code>/var/lib/mysql/</code></li>
<li><strong>Main configuration file</strong>: <code>/etc/mysql/mariadb.conf.d/50-server.cnf</code></li>
<li><strong>Default data directory</strong>: <code>/var/lib/mysql/</code></li>
</ul>
