---
title: "HASS On Unraid: Google TTS"
date: 2022-05-30
tags: [home assistant, unraid]
logo: hass.png
---

<blockquote>
<p>This post is <a href="/series/">part of a series</a> covering running various containers on <a href="https://unraid.net/">Unraid</a>.</p>
</blockquote>
<p>Today I will cover setting up TTS on Home Assistant using the Google Cast integration.</p>
<h2 id="basic-discovery">Basic Discovery</h2>
<p>Out of the box Home Assistant should automatically discover any <a href="https://www.home-assistant.io/integrations/cast/">Google Cast</a> compatible devices on your home network and present you with a notification similar to the one below under the Devices &amp; Services section.</p>
<img src="./002.png" alt="" />
_Blegh: HDR screen grabbing :(_
<p>Configuration is as simple as clicking on the &quot;Configure&quot; button and following the prompts.</p>
<img src="./003.png" alt="" />
<p>Once done your devices will be available in Home Assistant under the Google Cast integration.</p>
<img src="./004.png" alt="" />
<h2 id="tts-configuration">TTS Configuration</h2>
<p>Next up I created a new configuration file called custom\tts.yaml with the following configuration:</p>
{% highlight "yaml" %}
# https://www.home-assistant.io/integrations/tts/
- platform: google_translate
  base_url: !secret core_base_url
  time_memory: 43200 # 12 Hours
{% endhighlight %}

<p>Be sure to use your home's HTTPS URL if you are using HTTPS</p>
<p>You can include this configuration in your main configuration.yaml file using the below import: <code>tts: !include custom/tts.yaml</code></p>
<p>Save your changes and restart Home Assistant for the configuration to take effect.
You should now be able to use the TTS through the new Media Browser by selecting the Targeted Device -&gt; Google TTS -&gt; Enter in your message:</p>
<img src="./005.png" alt="" />
<p>That's all there is to it.</p>
