---
title: Home Servers Revamp (a Quick Update)
date: 2019-06-12
tags: [linux, server]
logo: server.png
---

<p>I have been needing to rebuild some of the core components of my Home Automation stack for quite some time now, but have been struggling to find the time to do it. I have also been wanting to try committing to running everything on Linux (where possible) as I am starting to work with it more and more with my work.</p>
<p>So today I decommissioned the 2 computers that run the majority of my applications and will be rebuilding them with <a href="https://ubuntu.com/download/server">Ubuntu Server</a> as it seems to be one of the more popular distros out there (hence I should be able to troubleshoot things a lot quicker when I run into issues). In addition to my current computers, I managed to snatch a 3'rd computer on sale for CAD$99 from NewEgg. It's nothing special but should be ideal for running <a href="https://www.home-assistant.io/">Home Assistant</a>.</p>
<p>Basically going forward the next few blog posts will be centred around getting everything back up and running, specifically:</p>
<blockquote>
<p><strong>NOTE</strong> you can see the complete post listing <strong><a href="/series/">here</a></strong></p>
</blockquote>
<p>If this is something that interests you, be sure to bookmark this blog as things are going to get weird!</p>
<img src="./001.png" alt="" />
